<div class="container mt-5">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <div style="text-align: center">
    <h1>Welcome to Forged in the Lore</h1>
    <p class="lead">Sign up or in to start tracking your settings and campaigns!</p>
  </div>
  <div class="flex-row">
    <div class="card-holder">
      <div class="mat-card">
        <app-login></app-login>
      </div>
    </div>
    <div class="card-holder">
      <div class="mat-card">
        <app-register></app-register>
      </div>
    </div>
  </div>
</div>
